html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: bisque;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: start;
  font-family: sans-serif;
}

.todo-view {
  padding: 40px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 400px;
}
form {
  label {
    display: none;
  }

  input {
    border: thin solid #000;
    font-size: 1em;
    flex: 1 1 auto;
    max-width: unset;
    font-family: sans-serif;
  }

  button {
    background-color: gray;
    color: white;
    border: none;
    padding: 0 10px;
    text-transform: uppercase;
  }

  div, footer {
    display: flex;
    gap: 10px;
    height: 40px;
  }

  footer {
    margin-block-start: 10px;
  }
}

.tasks {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &:empty {
    display: none;
  }

  .group-header {
    color: gray;
    margin: 10px 0;
  }

  .group-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .task {
    display: flex;
    align-items: baseline;
    gap: 10px;

    button {
      flex: 0 0 20px;
      background-color: transparent;
      border: none;
      font-size: 1.3em;
    }

    .task-description {
      flex: 1 1 auto;
    }

    .task-delete::after {
      content: '🗑';
    }

    .task-toggle::after {
      content: '⚪';
    }

    &.completed {
      .task-description {
        text-decoration: line-through;
      }

      .task-toggle::after {
        content: '✅';
      }
    }
  }
}